@{
    ViewBag.Title = "About";
}
<h2 style="color:white;">Meet me, MeatMe.</h2>

<div style="background-color: #965847; color: antiquewhite; font-size:1.4em; padding: 5px">
    <p>
        There are so many great meats on display that it’s hard to know where to begin. To the uninitiated, different cuts of meat can be confusing. Without direction, knowing which names refer to which cuts of meat is a guessing game.
        MeatMe answers these questions for you. It's a straightforward reference guide to the butcher’s counter. Take the confusion out of cooking, and meet your best new kitchen tool!
    </p>
</div>
