@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>There are so many great meats on display that it’s hard to know where to begin. To the uninitiated, different cuts of meat can be confusing. Without direction, it’s hard to know the best method of cooking.
Luckily, we present to you our guide to different cuts of meat for just such questions. Think of it as a quick reference guide to the butcher’s shop. In all, we’ve listed almost all the cuts of meat everyone should know.</p>
