@{
    ViewBag.Title = "Contact";
}
<h3 style="color:white;">Contact the MeatMe team</h3>

<div style="background-color: #965847; color: antiquewhite; font-size:1.4em; padding: 5px">
    <address style="background-image:none">
        Team Three <br />
        Grand Circus<br />
        Detroit, MI 48226<br />
        <abbr title="Phone">P:</abbr>
        313.338.2780
    </address>
</div>

