@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
<h3>MeatMe.Com</h3>

<address>
    Grand Circus<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    313.338.2780
</address>

