@model MeatMe.Models.CutName
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MeatMe</h1>
    <p class="lead">Every piece of meat has multiple names. That's confusing. I'm here to help. Meet me, MeatMe.</p>
    <p><a href="http://asp.net" class="btn btn-meat-light btn-primary btn-lg">Let's meat! &raquo;</a></p>
</div>

@*codes for adding a search Button*@
<asp:Content ID="headerContent" ContentPlaceHolderID="headerPlaceHolder" runat="server">
    <script type="text/javascript" src="../../Scripts/jquery.autocomplete.js"></script>
    <link href="../../Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        $(document).ready(function () {
            $("#searchTerm").autocomplete("/Home/getAjaxResult/");
        });

    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <!-- Search box -->
    <h2>Search for a piece of meat:</h2>

    <form action="/Home/Search" method="get" id="searchForm">
        <input type="text" name="searchTerm" id="searchTerm" value="" size="40" maxlength="30" /> <br />
        <input type="submit" value="Meat Me!" class="btn-meat-dark" />
    </form>
    <br />

</asp:Content>

<!-- Choose a beef cut dropdown -->
@using (Html.BeginForm("Go", "Home", FormMethod.Get, new { id = "selectedCut" }))
{ 
    <div class="row">
        <div class="col-md-4">
            <h2>Choose a piece of beef:</h2>
                @Html.DropDownList("Cow", null, htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Beef Me!" class="btn btn-default btn-meat-dark" />
        </div>
    </div>
}


<!-- Choose a pork cut dropdown -->
@using (Html.BeginForm("Go2", "Home", FormMethod.Get, new { id="selectedCut"}))
{ 
    <div class="row">
        <div class="col-md-4">
            <h2>Choose a piece of pork:</h2>
            @Html.DropDownList("Pig", null, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Pork Me!" class="btn btn-default btn-meat-dark" />
        </div>
    </div>
}
