body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(http://buildipedia.com/images/masterformat/Channels/At_Home/Countertops_101/Butcher_Block.jpg);
    font-size:17px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #965847;
    background-image:url(http://i60.tinypic.com/z1ngy.png);
    background-repeat:no-repeat;
    color: maroon;
    font-size:small
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    font-style: italic;
    font-family:'Times New Roman';
    background-image:url(http://i58.tinypic.com/2gwat0m.jpg);
    
}

.btn-meat-light {
    background-color: antiquewhite;
    color: maroon;
}

.btn-meat-dark {
    background-color: maroon;
    color: antiquewhite;
}
.btn-name-Google {
    background-color: #dd4b39;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn-name-Facebook {
    background-color:blue;
    color: white;
}

.container body-content {
    font-size:small;
  

}

div.jumbotron { width:1140px; height:220px;
                

}

h1 {
    font-family:'Book Antiqua'
}